<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Add Trip!</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">

        </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li><br/>

                <li class="nav-item">
                    <a class="nav-link" href="/project">My Trips</a>
                </li><br/>
                <li class="nav-item">
                    <a class="nav-link" href="/project/add">Add Road Trip</a>
                </li><br/>

            </ul>
        </div>
    </div>
</nav>
<body>
<h1>Add a Trip!</h1>
<form method="post" style="max-width:600px;" th:object="${trip}">
    <ul><div class="form-group">

        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" required="required" placeholder="Name your trip!" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="miles">Miles</label>
        <input class="form-control" th:field="*{miles}" required="required" placeholder="Distance of trip in miles"/>
        <span th:errors="*{miles}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="cost">Average Cost of Gas</label>
        <input class="form-control" th:field="*{cost}" required="required" placeholder="Cost per gallon"/>
        <span th:errors="*{cost}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="mpg">mpg</label>
        <input class="form-control" th:field="*{mpg}"required="required" placeholder="miles/gallon of your vehicle" />
        <span th:errors="*{mpg}" class="error"></span>
    </div>



        <input type="submit" value="Add Trip" /></ul>
</form>

</body>
</html>