<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<h1>Welcome to My Commute!</h1>

<h2>Please Select An Option:</h2>



<p>Project My Road Trip Cost</p>

<p>Track My Commute Cost</p>
</body>
</html>