<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Project the cost of your road trip!</h1>
</body>
<body>
<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label>Total Miles</label>
        <input class="form-control"/>
    </div>
    <br>
    <div class="form-group">
        <label>Average Cost of Gas</label>
        <input class="form-control"/>
    </div>
    <br>
    <div class="form-group">
        <label>Miles per Gallon of Vehicle</label>
        <input class="form-control"/>
    </div>

    <input type="submit" value="Add" />
</form>
</body>
</html>