<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<body class="container">
<head>

    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<h1 th:text="${title}">Default Title</h1>


<form method="post" style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label th:for="name">User name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">password</label>
        <input class="form-control" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>


    <input type="submit" value="Register" />
</form>


</body>
</html>